
@model IEnumerable<VistaraAirLinesApp.Models.ViewModels.FlightViewModel>

<table class="table">
    <tr>
        <th>FlightCode</th>
        <th>FlightName</th>
        <th>Source</th>
        <th>Destination</th>

        <th>Arrival Time</th>

        <th>Departure Time</th>

        <th>ExecutiveSeats</th>
        <th>ExecutiveFare</th>
        <th>BusinessSeats</th>
        <th>BusinessFare</th>
        <th>EconomySeats</th>
        <th>EconomyFare</th>
    </tr>
    @foreach (var flight in Model)
    {
        <tr>
            <td>@flight.FlightCode</td>
            <td>@flight.FlightName</td>
            <td>@flight.Source</td>
            <td>@flight.Destination</td>

            <td>@flight.ArrivalHrs:@flight.ArrivalMin:@flight.ArrivalSec @flight.ArrivalAmpm</td>

            <td>@flight.DepartureHrs:@flight.DepartureMin:@flight.DepartureSec @flight.DepartureAmpm</td>

            <td>@flight.ExecutiveSeats</td>
            <td>@flight.ExecutiveFare</td>

            <td>@flight.BusinessSeats</td>
            <td>@flight.BusinessFare</td>

            <td>@flight.EconomySeats</td>
            <td>@flight.EconomyFare</td>

            <td>
                @Html.ActionLink(
                    "Book Now",
                    "AddBooking",
                    "Bookings",
                    new { id = flight.FlightCode },
                    new { @class = "btn btn-primary" }
                )
            </td>
        </tr>
    }
</table>