@using VistaraAirLinesApp.Models.ViewModels;

@{
    ViewBag.Title = "Register User";
}

<div class="container">
    <h2>Register User</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row mb-3">
            @Html.LabelFor(model => model.UserName)
            <div class="col-md-9">
                @Html.EditorFor(model => model.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserName, "", new {@class="text-danger"})
            </div>
        </div>
    }

</div>

