@using VistaraAirLinesApp.Models.ViewModels
@{
    ViewBag.Title = "GetFlightDetails";
    var flight = @TempData["flightData"] as FlightViewModel;
}


<div class="container">
    <h2>Flight Details</h2>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <P class="fw-semibold col-6">Flight Id: @TempData["flightId"]</P>
                <p class="fw-semibold col-6">Flight Code: @flight.FlightCode</p>
                <p class="fw-semibold col-6">Flight Name: @flight.FlightName</p>
                <p class="fw-semibold col-6">Travel Date: @flight.TravelDate</p>
                <p class="fw-semibold col-6">Arrival Time: @flight.ArrivalHrs:@flight.ArrivalMin:@flight.ArrivalSec @flight.ArrivalAmpm</p>
                <p class="fw-semibold col-6">Departure Time: @flight.DepartureHrs:@flight.DepartureMin:@flight.DepartureSec @flight.DepartureAmpm</p>
                <p class="fw-semibold col-6">Source: @flight.Source</p>
                <p class="fw-semibold col-6">Destination: @flight.Destination</p>
                <p class="fw-semibold col-6">Executive Seats: @flight.ExecutiveSeats</p>
                <p class="fw-semibold col-6">Executive Fare: @flight.ExecutiveFare</p>
                <p class="fw-semibold col-6">Executive Seats: @flight.BusinessSeats</p>
                <p class="fw-semibold col-6">Executive Fare: @flight.BusinessFare</p>
                <p class="fw-semibold col-6">Executive Seats: @flight.EconomySeats</p>
                <p class="fw-semibold col-6">Executive Fare: @flight.EconomyFare</p>
            </div>
            <div>
                @Html.ActionLink("Back to flights list", "GetAllFlights", new { @class = "btn btn-outline-secondary" })
            </div>
            <div>
                @Html.ActionLink("See Passengers List", "UnderImplementation", new { @class = "btn btn-primary" })
            </div>
            <div>
                @Html.ActionLink("Update", "UpdateFlightDetails", new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

