
@{
    ViewBag.Title = "GetFlightDetails";
}


<duv class="container">
    <h2>Flight Details</h2>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <P class="fw-semibold col-6">Flight Id: @ViewBag.Flight.FlightId</P>
                <p class="fw-semibold col-6">Flight Code: @ViewBag.Flight.FlightCode</p>
                <p class="fw-semibold col-6">Flight Name: @ViewBag.Flight.FlightName</p>
                <p class="fw-semibold col-6">Travel Date: @ViewBag.FlightInventory.TravelDate</p>
                <p class="fw-semibold col-6">Arrival Time: @ViewBag.Flight.ArrivalTime</p>
                <p class="fw-semibold col-6">Departure Time: @ViewBag.Flight.DepartureTime</p>
                <p class="fw-semibold col-6">Source: @ViewBag.Flight.Source</p>
                <p class="fw-semibold col-6">Destination: @ViewBag.Flight.Destination</p>
                <p class="fw-semibold col-6">Executive Seats: @ViewBag.FlightInventory.ExecutiveSeats</p>
                <p class="fw-semibold col-6">Executive Fare: @ViewBag.FlightInventory.ExecutiveFare</p>
                <p class="fw-semibold col-6">Executive Seats: @ViewBag.FlightInventory.BusinessSeats</p>
                <p class="fw-semibold col-6">Executive Fare: @ViewBag.FlightInventory.BusinessFare</p>
                <p class="fw-semibold col-6">Executive Seats: @ViewBag.FlightInventory.EconomySeats</p>
                <p class="fw-semibold col-6">Executive Fare: @ViewBag.FlightInventory.EconomyFare</p>
            </div>
            @Html.ActionLink("Back to flights list", "GetAllFlights", new { @class = "btn btn-outline-secondary" })
        </div>
    </div>
</duv>

