@model VistaraAirLinesApp.Models.ViewModels.BookingsViewModel

@{
    ViewBag.Title = "Add Booking";
}

<h2>Add Booking</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.FlightId)
    @Html.HiddenFor(m => m.TravelDate)

    <span>@Html.ValidationSummary("", new { @class = "text-danger" })</span>

    <div class="form-group">
        <label>Flight Id</label>
        <input type="text" value="@Model.FlightId" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label>Travel Date</label>
        <input type="text" value="@Model.TravelDate.ToShortDateString()" class="form-control" readonly />
    </div>

    <hr />

    <h3>Passenger Details</h3>

    <div class="form-group">
        @Html.LabelFor(m => m.PassengerList[0].FullName)
        @Html.TextBoxFor(m => m.PassengerList[0].FullName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PassengerList[0].Address)
        @Html.TextBoxFor(m => m.PassengerList[0].Address, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PassengerList[0].Phone)
        @Html.TextBoxFor(m => m.PassengerList[0].Phone, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PassengerList[0].Email)
        @Html.TextBoxFor(m => m.PassengerList[0].Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PassengerList[0].SeatNo)
        @Html.TextBoxFor(m => m.PassengerList[0].SeatNo, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.PassengerList[0].Class)
        @Html.DropDownListFor(
            m => m.PassengerList[0].Class,
            new List<SelectListItem>()
            {
                new SelectListItem(){ Text="ECONOMY", Value="ECONOMY"},
                new SelectListItem(){ Text="BUSINESS", Value="BUSINESS"},
                new SelectListItem(){ Text="EXECUTIVE", Value="EXECUTIVE"},
            },
            "Select Class",
            new { @class = "form-control" }
        )
    </div>

    <button type="submit" class="btn btn-primary">
        Create Booking
    </button>
}